@import './App.scss';

nav {
  padding: 20px;
}

.nav-home-button {
  background-color: white;
  color: $primary-color;
  font-size: 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between; /* Ensures even spacing between elements */
  align-items: center; /* Vertically centers the links */
  background-color: $primary-color;
  border-radius: 20px;
  padding: 10px;
}

.nav-buttons a {
  margin-left: 10px;
  padding: 12px 22px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.nav-buttons a:hover {
  text-decoration: underline;
}

.nav-buttons button {
  margin-left: 10px;
  padding: 12px 22px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
  background-color: darken($primary-color, 10%);
}
